@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap");
:root {
  --body-bg-clr:#F9FBFF;
  --profile-active-overlay: #34D399;
  --black-clr:#000;
  --nav-option-color:#030712;
  --white-color:#fff;
  --nav-bottom-border-clr:#C7D2FE;
  --nav-option-hover-clr:#DBEAFE;
  --side-border-clr:#D1D5DB;
  --search-box-bgclr:#EFF6FF;
  --search-icon-clr:#9CA3AF;
  --sidebar-heading-bg-clr:#E5E7EB;
  --sidebar-span-clr:#9CA3AF;
  --sidebar-upcomming-bg-clr: #374151;
  --sidebar-upcomming-span-clr: #6B7280;
  --sidebar-border-hover-clr:#1D4ED8;
  --post-btn-bg-clr: #3B82F6;
  --active-title: #929290;
  --active-name-clr:#171725;
  --create-post-modal-bg-clr:rgba(204, 204, 204, 0.60);
  --create-modal-close-clr: lighten (#9CA3AF,11%);
  --profile-modal-name-clr:#111827;
  --privacy-policy-terms-atag-clr:#60A5FA;
  --button-font-clr:#EEF2FF;
}

#main-manu {
  border-bottom: 2px solid var(--nav-bottom-border-clr);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
#main-manu nav .nav-option ul li {
  margin: 0px 24px 0px 24px;
}
#main-manu nav .nav-option ul li a {
  font-size: 28px;
  color: var --nav-option-color;
}
#main-manu .nav-profile-option ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-manu .nav-profile-option ul li {
  margin: 0px 9px 0px 9px;
}
#main-manu .nav-profile-option ul li a {
  font-size: 28px;
  color: var --nav-option-color;
}
#main-manu .nav-profile-option ul .user {
  margin-right: 0px;
  position: relative;
}
#main-manu .nav-profile-option ul .user .profile-active-overlay {
  background-color: var(--profile-active-overlay);
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 19px;
  top: 21px;
  border: 2px solid var(--white-color);
}
#main-manu .nav-profile-option ul .nav-arrow {
  margin-left: 0px;
}

#profilepage .coverpic {
  position: relative;
  height: 340px;
}
#profilepage .coverpic .editCoverPic {
  display: inline;
  position: absolute;
  border-radius: 4px;
  right: 6px;
  bottom: 6px;
  color: var(--button-font-clr);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 4px;
  background-color: #4B5563;
}
#profilepage .coverpic .editCoverPic p {
  display: inline;
  margin-right: 15px;
}
#profilepage .container {
  position: relative;
}
#profilepage .container .profile .profileImg {
  position: absolute;
  bottom: -50px;
  left: 137px;
}
#profilepage .container .profile .profileImg img {
  width: 174px;
  height: 174px;
  border-radius: 174px;
  line-height: 174px;
}
#profilepage .container .profile .profileImg .camIcon {
  width: 44px;
  height: 44px;
  line-height: 57px;
  text-align: center;
  border-radius: 20px;
  background-color: #F3F4F6;
  position: absolute;
  bottom: 0;
  left: 131px;
}
#profilepage .container .profile .friends {
  display: inline-block;
  margin-left: 20px;
  margin-left: 25%;
  margin-top: 10px;
}
#profilepage .container .profile .friends h3 {
  font-size: 36px;
  font-weight: 700;
}
#profilepage .container .profile .friends p {
  color: #9CA3AF;
  font-size: 18px;
  font-weight: 400;
}
#profilepage .container .profile .friends .frndImg {
  position: relative;
  margin-top: 12px;
}
#profilepage .container .profile .friends .frndImg #f1 {
  position: absolute;
  z-index: 100;
  transition: 0.5s;
}
#profilepage .container .profile .friends .frndImg #f1:hover {
  width: 50px;
}
#profilepage .container .profile .friends .frndImg #f2 {
  position: absolute;
  left: 25px;
  z-index: 99;
  transition: 0.5s;
}
#profilepage .container .profile .friends .frndImg #f2:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .friends .frndImg #f3 {
  position: absolute;
  left: 50px;
  z-index: 98;
}
#profilepage .container .profile .friends .frndImg #f3:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .friends .frndImg #f4 {
  position: absolute;
  left: 75px;
  z-index: 97;
}
#profilepage .container .profile .friends .frndImg #f4:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .friends .frndImg #f5 {
  position: absolute;
  left: 100px;
  z-index: 96;
}
#profilepage .container .profile .friends .frndImg #f5:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .friends .frndImg #f6 {
  position: absolute;
  left: 125px;
  z-index: 95;
}
#profilepage .container .profile .friends .frndImg #f6:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .friends .frndImg #f7 {
  position: absolute;
  left: 150px;
  z-index: 94;
}
#profilepage .container .profile .friends .frndImg #f7:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .friends .frndImg #f8 {
  position: absolute;
  left: 175px;
  z-index: 93;
}
#profilepage .container .profile .friends .frndImg #f8:hover {
  width: 50px;
  z-index: 101;
}
#profilepage .container .profile .profileBtn {
  margin-left: 48%;
  text-align: right;
  position: absolute;
  bottom: 12px;
}
#profilepage .container .profile .profileBtn .booking {
  width: 113px;
  height: 34px;
  border-radius: 10px;
  padding: 5px;
  background-color: #0C4A6E;
  display: inline-block;
}
#profilepage .container .profile .profileBtn .booking p {
  display: inline-block;
  margin-left: 14px;
  color: var(--button-font-clr);
  font-size: 16px;
  line-height: 24px;
}
#profilepage .container .profile .profileBtn .post {
  width: 151px;
  height: 34px;
  padding: 5px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #3B82F6;
  display: inline-block;
}
#profilepage .container .profile .profileBtn .post p {
  display: inline-block;
  margin-left: 14px;
  color: var(--button-font-clr);
  font-size: 16px;
  line-height: 24px;
}
#profilepage .container .profile .profileBtn .edit {
  width: 131px;
  height: 34px;
  padding: 5px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: #9CA3AF;
  display: inline-block;
}
#profilepage .container .profile .profileBtn .edit p {
  display: inline-block;
  margin-left: 14px;
  color: var(--button-font-clr);
  font-size: 16px;
  line-height: 24px;
}

#profileMenu2 {
  margin-top: 88px;
}
#profileMenu2 .container .menu ul li {
  display: inline-block;
  margin-left: 40px;
  padding-bottom: 2px;
}
#profileMenu2 .container .menu ul li:hover {
  border-bottom: 2px solid #1D4ED8;
}
#profileMenu2 .container .menu ul li a {
  color: black;
  transition: 2s;
}
#profileMenu2 .container .menu ul li a :hover {
  color: #1D4ED8;
}
#profileMenu2 .container .menu ul li a p {
  font-size: 18px;
  font-weight: 700;
}

#introduce {
  margin-top: 58px;
}
#introduce .intro {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: var(--white-color);
}
#introduce .intro h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 22px;
}
#introduce .intro .IntroLeftPart {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#introduce .intro .IntroLeftPart ul li {
  padding: 14px;
  border: 1px solid white;
  border-radius: 20px;
}
#introduce .intro .IntroLeftPart ul li a {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#introduce .intro .IntroLeftPart ul li a:hover {
  color: #2563EB;
}
#introduce .intro .IntroLeftPart ul li:hover {
  background-color: rgba(42, 133, 255, 0.2);
}
#introduce .intro .IntroRightPart ul li {
  border: 1px solid white;
  border-radius: 20px;
}
#introduce .intro .IntroRightPart ul li .iconGrp {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
}
#introduce .intro .IntroRightPart ul li h6 {
  display: inline-block;
  color: black;
  font-weight: 700;
  font-size: 15px;
  margin-left: 17px;
}

#friends {
  margin-top: 81px;
}
#friends .friendSection h2 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
}
#friends .AddorFindfriend h4 {
  color: #0067FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  margin-left: 38px;
}
#friends .friendList .leftSide li {
  margin-top: 15px;
}
#friends .friendList .leftSide li p {
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-left: 15px;
}
#friends .friendList .leftSide li p a {
  color: #000;
}
#friends .friendList .leftSide li p span {
  color: rgba(0, 0, 0, 0.3);
}
#friends .friendList .rightSide li {
  margin-top: 15px;
}
#friends .friendList .rightSide li p {
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-left: 15px;
}
#friends .friendList .rightSide li p a {
  color: #000;
}
#friends .friendList .rightSide li p span {
  color: rgba(0, 0, 0, 0.3);
}

#photo {
  margin-top: 81px;
}
#photo .userPhotos {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
}
#photo .userPhotos h2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 12px;
}
#photo .userPhotos img {
  height: 220px;
  width: 220px;
  margin-top: 10px;
  margin-right: 26px;
}
#photo .userPhotos ul li {
  display: inline-block;
  margin-left: 5px;
}

#video {
  margin-top: 51px;
  margin-bottom: 5px;
}
#video .userVideos {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
}
#video .userVideos h2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 12px;
}
#video .userVideos img {
  height: 220px;
  width: 220px;
  margin-top: 10px;
  margin-right: 26px;
}
#video .userVideos ul li {
  display: inline-block;
  margin-left: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul, p, span, ol, a {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */