#create-name{
  margin: 21px 0px;
  .create-name-details-box {
    // create name cover start
  .create-name-cover{
  padding: 50px 120px;
  background-position: center;
  background-size: cover;
  margin-bottom: 24px;
  h4{
  font-size: 72px;
  color: $white-color;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -1.44px;  
  }  
  }
  // create name cover end
  .post-member-details-box{
    // post box start 
  .post-box{
  // create post box start
  .create-post-box{ 
    border: 1px solid $sidebar-heading-bg-clr;
    background-color: $white-color;
    border-radius: 20px;
    padding: 18px 16px 0px; 
      max-width: 671px;   
    .mind-box{
    font-size: 14px;
    color: $side-border-clr;
    font-weight: 500;
    line-height: 20px;
    .user-profile{
    padding-right: 18px;
    }
    input{
    border: 1px solid $sidebar-heading-bg-clr;
    border-radius: 20px; 
    }    
    }
    .create-post-option{
    margin-top: 16px;
    padding-bottom: 12px;
    ul{
    padding-left: 27px;
    li{
    padding-right: 12px;   
    a{
    font-size: 24px;
    color: $sidebar-upcomming-span-clr;  
    }    
    }    
    }
    .post-btn{
    text-align: right;
    button{
    border: none;
    background-color: transparent;
    a{
    color: $white-color;
    background-color: $post-btn-bg-clr;
    padding: 8px 34px; 
    border-radius: 15px;   
    }    
    }    
    }    
    }    
    }
    // create post box end
    // user-post-box start
    .user-post-box{
    margin-top: 33px;
    margin-bottom: 18px;
    max-width: 671px;
    border:1px solid $sidebar-heading-bg-clr; 
    border-radius: 20px;
    background-color: $white-color;
    padding: 25px 17px 0px;
    cursor: pointer;
    .profile-box-details{
    margin-bottom: 25px;    
    .user-post-title{
    padding-left: 18px;    
    a{
    font-size: 16px;
    color: $nav-option-color;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 7px;
    span{
    font-size: 16px;
    color:$sidebar-upcomming-span-clr;
    font-weight: 700;
    line-height: 24px;    
    }
    }
    p{
    font-size: 16px;
    color: $nav-option-color;
    font-weight: 500;
    line-height: 28px;    
    }    
    }
    }    
    .posted-img{
    max-width: 634px;
    img{
    width: 100%;
    }    
    }
    .react-option{
    padding: 0px 14px;    
    ul{
    li{
    font-size: 15px;
    color: $black-clr;
    font-weight: 600;
    line-height: 22.449px;    
    text-align: center;    
    }    
    }    
    }    
    } 
    // user-post-box end 
  }
    // post box end
    // member box start 
    .member-box{
    .member-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
    h6{
    font-size: 20.077px;
    font-weight: 700;
    line-height: 30.116px;
    span{
    font-size: 20.077px;
    color: $community-name-member-title-clr;
    font-weight: 700;
    line-height: 30.116px;   
    } 
    }
    .add-member-btn{
    width: 28px;  
    height: 28px; 
    background-color: $sidebar-heading-bg-clr; 
    border-radius: 50%;
    color: $black-clr;
    line-height: 32px;
    text-align: center;
    }  
    }
    .profile-box{
    margin-bottom: 15px;  
    }  
    }
    // member box end 
  } 
  } 
}