// Message Section Starts Here
#Event-created-box{
    margin: 20px 0px;
    .eventCreatedBox{
        border: 1px solid $event-created-brd-clr;
        border-radius: 15px;
        margin-left: 16px;
        // padding-bottom: 174px;
        h3{ 
            color: $black-clr;
            text-align: center;
            text-shadow: 0px 4px 4px $nameCard-brd-clr;
            font-size: 30px;
            font-weight: 700;  
            margin-top: 30px;
        }
        img{
            margin-top: 10px;
        }
        .eventCreated{
            text-align: center;
            margin-top: 100px;
            margin-left: 11px;
            h3{
                color: $black-clr;
                font-size: 26px;
                font-weight: 700;
                margin-top: 40px;
            }
        }
    }
    // SM / MD EVENT CREATED START
    .eventCreated-box-sm{
        text-align: center;
        padding: 50px 0px;
        .eventCreated-sm-md{
            margin: 30px 0px;
            .eventCreated-done{
                img{
                    width: 30%;
                }
            }
            h3{
            font-weight: 700;
            font-size: 18px;
            margin-top: 25px;
            }
            .eventCreated-go-btn{
               img{
                padding: 20px 0px;
               }
            }
        }
    }
    // SM / MD EVENT CREATED END
    
}
// Message Section Ends Here