// Message Section Starts Here
#Event {
  margin: 20px 0px;
  .eventStart {
    border: 1px solid $side-border-clr;
    border-radius: 15px;
    margin-left: 16px;
    h3 {
      color: $black-clr;
      text-align: center;
      text-shadow: 0px 4px 4px $nameCard-brd-clr;
      font-size: 30px;
      font-weight: 700;
    }
    img {
      margin-top: 10px;
    }
    .summaryPart {
      margin-top: 60px;
      height: 500px;
      background-color: $summerPart-bg;
      padding: 13px 10px;
      border-radius: 20px;
      .arrow {
        a {
          margin-left: 7px;
          color: $black-clr;
        }
      }
      .title {
        h5 {
          text-align: center;
          color: $black-clr;
          font-size: 20px;
          font-weight: 700;
        }
      }
      .icons {
        .messageIcon {
          // margin-left: 43%;
          display: inline-block;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          line-height: 33px;
          background-color: $white-color;
          text-align: center;
          a {
            color: $black-clr;
          }
        }

        .shareIcon,
        .editIcon {
          display: inline-block;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          line-height: 33px;
          background-color: $white-color;
          text-align: center;
          margin-left: 8px;
          a {
            color: $black-clr;
          }
        }
      }
      .listTitle {
        list-style: none;
        margin-top: 32px;
        display: inline-block;
        padding: 0px 20px;
        li {
          margin: 15px 0px;
        }
      }
      .description {
        list-style: none;
        display: inline-block;
        margin-left: 100px;
        li {
          margin: 15px 0px;
        }
      }
    }
    .GetStartedButton {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: $black-clr;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        border-radius: 30px;
        border: 1px solid $getStart-btn-brd-clr;
        background-color: $white-color;
        padding: 12px 32px;
        box-shadow: 0px 4px 4px 0px $nameCard-brd-clr;
        transition: 0.5s;
        &:hover {
          background-color: $getStart-btn-hover-clr;
          color: $white-color;
          border: none;
          overflow: hidden;
        }

      }
    }
    .cancelButton {
      margin: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 12px 32px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: $black-clr;
      }
    }
  }
  // SM / MD EVENT SUMMARY START
  .event-summary-sm{
    padding-bottom: 60px;
    margin-top: 20px;
    position: relative;
    .summary-back-btn{
      position: absolute;
      top: -25px;
      left: 11px;
      .back-btn-summary{
          color: $black-clr;
      }
    }
    .event-summary-box-sm{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-color: $info-call-btn-cam-bg-two;
      border-radius: 20px;
      padding: 30px 10px;
      margin-top: 20px;
      .listTitle, .break, .description{
        li{
          margin: 20px 0px;
          font-weight: 500;
        }
      }
    }
    .event-summary-start-btn-box{
      .GetStartedButton {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: $black-clr;
          text-align: center;
          font-size: 14px;
          font-weight: 700;
          border-radius: 30px;
          border: 1px solid $getStart-btn-brd-clr;
          background-color: $white-color;
          padding: 12px 32px;
          box-shadow: 0px 4px 4px 0px $nameCard-brd-clr;
          transition: 0.5s;
          &:hover {
            background-color: $getStart-btn-hover-clr;
            color: $white-color;
            border: none;
            overflow: hidden;
          }
  
        }
      }
      .cancelButton {
        margin: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          text-align: center;
          font-size: 14px;
          font-weight: 700;
          border: none;
          outline: none;
          background-color: transparent;
          padding: 12px 32px;
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          color: $black-clr;
        }
      }
    }
  }
  // SM / MD EVENT SUMMARY END
}

// Message Section Ends Here
