// Message Section Starts Here
#Event {
  margin-top: 5px;
  .eventStart {
    border: 1px solid $event-created-brd-clr;
    border-radius: 15px;
    margin-left: 16px;
    h3 {
      color: $black-clr;
      text-align: center;
      text-shadow: 0px 4px 4px $nameCard-brd-clr;
      font-size: 30px;
      font-weight: 700;
    }
    img {
      margin-top: 10px;
    }
    .formPart {
      margin-top: 33px;
      margin-left: 74px;

      form {
        padding: 10px 0;
        padding-bottom: 100px;

        .formInputs {
          margin-top: 18px;
          #eventName {
            margin-left: 85px;
            border: 1px solid $side-border-clr;
            border-radius: 10px;
            width: 56%;
            background-color: transparent;
            outline: none;
            padding: 5px;
          }

          #organizer {
            margin-left: 97px;
            border: 1px solid $side-border-clr;
            border-radius: 10px;
            width: 56%;
            background-color: transparent;
            outline: none;
            padding: 5px;
          }
          #participantNo {
            margin-left: 24px;
            border: 1px solid $side-border-clr;
            border-radius: 10px;
            width: 56%;
            background-color: transparent;
            outline: none;
            padding: 5px;
          }
          #date {
            margin-left: 128px;
            border: 1px solid $side-border-clr;
            border-radius: 10px;
            width: 56%;
            padding: 5px;
            background-color: transparent;
            outline: none;
            padding: 5px;
          }
          #category {
            margin-left: 62px;
            border: 1px solid $side-border-clr;
            border-radius: 10px;
            width: 6%;
            padding: 5px;
            background-color: transparent;
            outline: none;
            padding: 5px;
          }
          #content {
            margin-left: 109px;
            border: 1px solid $side-border-clr;
            background-color: transparent;
            border-radius: 10px;
            width: 56%;
            padding: 48px;
            outline: none;
            padding: 5px;
          }
        }
        .GetStartedButton {
          margin-top: 32px;
          a {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            border-radius: 30px;
            border: 1px solid $getStart-btn-brd-clr;
            background-color: $white-color;
            padding: 12px 32px;
            box-shadow: 0px 4px 4px 0px $nameCard-brd-clr;
            color: $black-clr;
          }
        }
      }
    }
  }
}
// Message Section Ends Here
