// Event Category Section Start
#category{
    margin: 22px 0px;
    .container{
        .row{
            .events{
                .title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h4{
                        font-size: 38px;
                        font-weight: 700;
                        color: $event-primary-font-clr;
                    }
                    .icons{
                        display: inline-block;
                        font-size: 24px;
                       a{
                        display: inline-block !important;
                        width: 44px;
                        height: 44px;
                        line-height: 44px;
                        background-color:$category-icon-bg-clr ;
                        border-radius: 20px;
                        text-align: center;
                        margin-left: 17px;
                       }
                    }
                }

                .categoryName{
                    margin-top: 15px;
                    .categoryCard{
                        text-align: center;
                        margin-top: 32px;
                        a{
                        color: $black-clr;
                            h6{
                            font-size: 20px;
                            font-weight: 700;  
                            margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Event Category Section End