// Group Call Section Start
#groupCl {
  .container {
    margin-bottom: 18px;
    margin-top: 11px;
    border: 1px solid rgba($color: $black-clr, $alpha: 0.2);
    border-radius: 20px;

    .icon {
      position: relative;
      margin-top: 22px;
      margin-right: 11px;
      .more-vert {
        position: absolute;
        right: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        background-color: rgba($color: $black-clr, $alpha: 0.1);
        border-radius: 20px;
        a {
          font-size: 24px;
          color: $black-clr;
        }
      }
    }

    .grpMember {
      border-radius: 20px;
      text-align: center;
      margin-top: 100px;
      .friends {
        width: 234px;
        height: 223px;
        background-color: $friendRequest-dismiss-btn-clr;
        border-radius: 20px;
        line-height: 223px;
        text-align: center;
        display: inline-block;
        margin-right: 36px;
        margin-bottom: 30px;
      }
    }
    .callBtn {
      margin-bottom: 43px;
      ul {
        text-align: center;
        li {
          display: inline-block;
          margin-left: 10px;
        }

        #mic,
        #cam {
          width: 44px;
          height: 44px;
          line-height: 44px;
          border-radius: 20px;
          background-color: $group-call-cam-bg;
          text-align: center;
        }

        #call {
          width: 80px;
          height: 44px;
          line-height: 44px;
          border-radius: 15px;
          background-color: $message-notification-clr;
          font-size: 24px;
        }
      }
    }
  }
}
// Group Call Section End
