// ROOT START
$primaryfont:'Plus Jakarta Sans', sans-serif;
$secondary-Font :'Roboto', sans-serif;
$third-Font :'Poppins', sans-serif;
$body-bg-clr:#F9FBFF;
$profile-active-overlay:#34D399;
$black-clr:#000;
$nav-option-color:#030712;
$white-color:#fff;
$nav-bottom-border-clr:#C7D2FE;
$nav-option-hover-clr:#DBEAFE;
$side-border-clr:#D1D5DB;
$search-box-bgclr:#EFF6FF;
$search-icon-clr:#9CA3AF;
$sidebar-heading-bg-clr:#E5E7EB;
$sidebar-span-clr:#9CA3AF;
$sidebar-upcomming-bg-clr:#374151;
$sidebar-upcomming-span-clr:#6B7280;
$sidebar-border-hover-clr:#1D4ED8;
$post-btn-bg-clr:#3B82F6;
$active-title:#92929D;
$active-name-clr:#171725;
$create-post-modal-bg-clr:rgba(204, 204, 204, 0.60);
$create-modal-close-clr:lighten(#9CA3AF,11%);
$profile-modal-name-clr:#111827;
// ROOT END
