$primaryfont:'Plus Jakarta Sans', sans-serif;
$secondary-Font :'Roboto', sans-serif;
$third-Font :'Poppins', sans-serif;
$notification-Font:'Rubik', sans-serif;
:root{
--body-bg-clr:#F9FBFF;
--profile-active-overlay:#34D399;
--black-clr:#000;
--nav-option-color:#030712;
--white-color:#fff;
--nav-bottom-border-clr:#C7D2FE;
--nav-option-hover-clr:#DBEAFE;
--side-border-clr:#D1D5DB;
--search-box-bgclr:#EFF6FF;
--search-icon-clr:#9CA3AF;
--sidebar-heading-bg-clr:#E5E7EB;
--sidebar-span-clr:#9CA3AF;
--sidebar-upcomming-bg-clr:#374151;
--sidebar-upcomming-span-clr:#6B7280;
--sidebar-border-hover-clr:#1D4ED8;
--post-btn-bg-clr:#3B82F6;
--active-title:#92929D;
--active-name-clr:#171725;
--create-post-modal-bg-clr:rgba(204, 204, 204, 0.60);
--create-modal-close-clr:lighten(#9CA3AF,11%);
--profile-modal-name-clr:#111827;
--privacy-policy-terms-atag-clr:#60A5FA;
--create-comunication-btn:#0EA5E9;
--group-details-title-h:#082F49;
--community-category-icon-text-clr:#44444F;
--community-category-icon-text-bg-clr:#E9F3FB;
--community-name-member-title-clr:rgba(0, 0, 0, 0.40);
--friendPage-border-color: #D1D5DB;
--eventNearbyYou-box-shadow: 0px -1px 27px 0px rgba(20, 19, 73, 0.05), 0px -2px 25px 0px rgba(4, 17, 21, 0.00);
--see-all-clr:#93C5FD;
--event-swimming-details-clr:#76777C;
--event-post-comment-bg-clr:#F0F1F5;
--send-msg-bg:rgba(217, 217, 217, 0.20);
--nameCard-brd-clr:rgba(0, 0, 0, 0.20);
--watchBtn-bg-clr:rgba(255, 255, 255, 0.20);
--live-bg-clr:#FC0000;
--live-border-clr:#c1c1c1;
--live-arrow-clr:rgba(255, 255, 255, 0.60);
--category-icon-bg-clr:rgba(0, 0, 0, 0.10);
--event-created-brd-clr:#E0E3EF;
--getStart-btn-brd-clr:#082f49;
--getStart-btn-hover-clr:rgba(14, 165, 233, 1);
--summerPart-bg:rgba(217, 217, 217, 0.2);
--friendMenu-span-bg:#f3f4f6;
--friendMenu-span-clr:#9ca3af;
--friendRequest-btn-bg:#f9f9f9;
--friendRequest-btn-clr:#333;
--friendRequest-add-btn-clr:#4580f0;
--friendRequest-dismiss-btn-clr:#dde3ee;
--group-call-cam-bg:rgba(148, 148, 148, 0.4);
--info-profile-bg:rgba(255, 255, 255, 0.2);
--info-call-btn-cam-bg:rgb(221 216 216 / 40%);
--info-call-btn-cam-bg-two:rgba(217, 217, 217, 0.4);
--info-subSlide-text-bg:rgba(55, 55, 55, 0.4);
--info-nearby-boxshadow:0px -1px 27px 0px rgba(20, 19, 73, 0.05),0px -2px 25px 0px rgba(4, 17, 21, 0);
--info-summery-task-bg:#bae6fd;
--info-summery-edit-bg:rgba(255, 255, 255, 0.2);
--info-sendMsg-form-input-bg:rgba(217, 217, 217, 0);
--msg-searchbar-brd:rgba(0, 0, 0, 0.2);
--msg-allmsgSidebar-bg:rgba(252, 165, 165, 0.08);
--msg-status-clr:#202020;
--msg-chat-active-bg:#20d234;
--msg-writemsg-border-clr:rgba(32, 32, 1, 0.08);
--msg-writemsg-bg-clr:#fafafa;
--profilepage-editCover-bg:#4B5563;
--profilepage-booking-bg:#0C4A6E;
--profilepage-intro-li-a-hover-clr:#2563EB;
--profilepage-intro-li-hover-clr:rgba(42, 133, 255, 0.2);
--profilepage-add-friend-clr:#0067FF;
--profilepage-two-all-friend-clr:#7DD3FC;
--request-add-bg:#E4E4E4;
--requestdisMiss-searchBar-boxshadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
--schedule-card-event-boxShadow:0px 13px 27px 0px rgba(20, 19, 73, 0.05);
--schedule-nearby-boxShadow:0px -1px 27px 0px rgba(20, 19, 73, 0.05), 0px -2px 25px 0px rgba(4, 17, 21, 0.00);
--schedule-nearby-hr-clr:#F7F7F7;
--schedule-description-a-clr:#BFDBFE;
--schedule-join-btn-span-clr:#1E40AF;
--schedule-singleCall-mic-cam-bg:rgba(148, 148, 148, 0.40);
}
// ROOT END
// SCSS ROOT START
$body-bg-clr:var(--body-bg-clr);
$profile-active-overlay:var(--profile-active-overlay);
$black-clr:var(--black-clr);
$nav-option-color:var(--nav-option-color);
$white-color:var(--white-color);
$nav-bottom-border-clr:var(--nav-bottom-border-clr);
$nav-option-hover-clr:var(--nav-option-hover-clr);
$side-border-clr:var(--side-border-clr);
$search-box-bgclr:var(--search-box-bgclr);
$search-icon-clr:var(--search-icon-clr);
$sidebar-heading-bg-clr:var(--sidebar-heading-bg-clr);
$sidebar-span-clr:var(--sidebar-span-clr);
$sidebar-upcomming-bg-clr:var(--sidebar-upcomming-bg-clr);
$sidebar-upcomming-span-clr:var(--sidebar-upcomming-span-clr);
$sidebar-border-hover-clr:var(--sidebar-border-hover-clr);
$post-btn-bg-clr:var(--post-btn-bg-clr);
$active-title:var(--active-title);
$active-name-clr:var(--active-name-clr);
$create-post-modal-bg-clr:var(--create-post-modal-bg-clr);
$create-modal-close-clr:var(--create-modal-close-clr);
$profile-modal-name-clr:var(--profile-modal-name-clr);
$privacy-policy-terms-atag-clr:var(--privacy-policy-terms-atag-clr);
$create-comunication-btn:var(--create-comunication-btn);
$group-details-title-h:var(--group-details-title-h);
$community-category-icon-text-clr:var(--community-category-icon-text-clr);
$community-category-icon-text-bg-clr:var(--community-category-icon-text-bg-clr);
$community-name-member-title-clr:var(--community-name-member-title-clr);
$friendPage-border-color:var(--friendPage-border-color);
$eventNearbyYou-box-shadow:var(--eventNearbyYou-box-shadow);
$see-all-clr:var(--see-all-clr);
$event-swimming-details-clr:var(--event-swimming-details-clr);
$event-post-comment-bg-clr:var(--event-post-comment-bg-clr);
$send-msg-bg:var(--send-msg-bg);
$nameCard-brd-clr:var(--nameCard-brd-clr);
$watchBtn-bg-clr:var(--watchBtn-bg-clr);
$live-bg-clr:var(--live-bg-clr);
$live-border-clr:var(--live-border-clr);
$live-arrow-clr:var(--live-arrow-clr);
$event-created-brd-clr:var(--event-created-brd-clr);
$getStart-btn-brd-clr:var(--getStart-btn-brd-clr);
$getStart-btn-hover-clr:var(--getStart-btn-hover-clr);
$summerPart-bg:var(--summerPart-bg);
$friendMenu-span-bg:var(--friendMenu-span-bg);
$friendMenu-span-clr:var(--friendMenu-span-clr);
$friendRequest-btn-bg:var(--friendRequest-btn-bg);
$friendRequest-btn-clr:var(--friendRequest-btn-clr);
$friendRequest-add-btn-clr:var(--friendRequest-add-btn-clr);
$friendRequest-dismiss-btn-clr:var(--friendRequest-dismiss-btn-clr);
$group-call-cam-bg:var(--group-call-cam-bg);
$info-profile-bg:var(--info-profile-bg);
$info-call-btn-cam-bg:var(--info-call-btn-cam-bg);
$info-call-btn-cam-bg-two:var(--info-call-btn-cam-bg-two);
$info-subSlide-text-bg:var(--info-subSlide-text-bg);
$info-nearby-boxshadow:var(--info-nearby-boxshadow);
$info-summery-task-bg:var(--info-summery-task-bg);
$info-summery-edit-bg:var(--info-summery-edit-bg);
$info-sendMsg-form-input-bg:var(--info-sendMsg-form-input-bg);
$msg-searchbar-brd:var(--msg-searchbar-brd);
$msg-allmsgSidebar-bg:var(--msg-allmsgSidebar-bg);
$msg-status-clr:var(--msg-status-clr);
$msg-chat-active-bg:var(--msg-chat-active-bg);
$msg-writemsg-border-clr:var(--msg-writemsg-border-clr);
$msg-writemsg-bg-clr:var(--msg-writemsg-bg-clr);
$profilepage-editCover-bg:var(--profilepage-editCover-bg);
$profilepage-booking-bg:var(--profilepage-booking-bg);
$profilepage-intro-li-a-hover-clr:var(--profilepage-intro-li-a-hover-clr);
$profilepage-intro-li-hover-clr:var(--profilepage-intro-li-hover-clr);
$profilepage-add-friend-clr:var(--profilepage-add-friend-clr);
$profilepage-two-all-friend-clr:var(--profilepage-two-all-friend-clr);
$request-add-bg:var(--request-add-bg);
$requestdisMiss-searchBar-boxshadow:var(--requestdisMiss-searchBar-boxshadow);
$schedule-card-event-boxShadow:var(--schedule-card-event-boxShadow);
$schedule-nearby-boxShadow:var(--schedule-nearby-boxShadow);
$schedule-nearby-hr-clr:var(--schedule-nearby-hr-clr);
$schedule-description-a-clr:var(--schedule-description-a-clr);
$schedule-join-btn-span-clr:var(--schedule-join-btn-span-clr);
$schedule-singleCall-mic-cam-bg:var(--schedule-singleCall-mic-cam-bg);
// SCSS ROOT END

// $body-bg-clr:#F9FBFF;
// $profile-active-overlay:#34D399;
// $black-clr:#000;
// $nav-option-color:#030712;
// $white-color:#fff;
// $nav-bottom-border-clr:#C7D2FE;
// $nav-option-hover-clr:#DBEAFE;
// $side-border-clr:#D1D5DB;
// $search-box-bgclr:#EFF6FF;
// $search-icon-clr:#9CA3AF;
// $sidebar-heading-bg-clr:#E5E7EB;
// $sidebar-span-clr:#9CA3AF;
// $sidebar-upcomming-bg-clr:#374151;
// $sidebar-upcomming-span-clr:#6B7280;
// $sidebar-border-hover-clr:#1D4ED8;
// $post-btn-bg-clr:#3B82F6;
// $active-title:#92929D;
// $active-name-clr:#171725;
// $create-post-modal-bg-clr:rgba(204, 204, 204, 0.60);
// $create-modal-close-clr:lighten(#9CA3AF,11%);
// $profile-modal-name-clr:#111827;

$primaryfont: 'Plus Jakarta Sans', sans-serif; 
$secondary-Font : 'Roboto', sans-serif;
$third-Font: 'Poppins', sans-serif; 
:root{
--body-bg-clr:#F9FBFF;
--profile-active-overlay: #34D399;
--black-clr:#000;
--nav-option-color:#030712;
--white-color:#fff;
--nav-bottom-border-clr:#C7D2FE; 
--nav-option-hover-clr:#DBEAFE;
--side-border-clr:#D1D5DB; 
--search-box-bgclr:#EFF6FF;
--search-icon-clr:#9CA3AF;
--sidebar-heading-bg-clr:#E5E7EB;  
--sidebar-span-clr:#9CA3AF;
--sidebar-upcomming-bg-clr: #374151; 
--sidebar-upcomming-span-clr: #6B7280;
--sidebar-border-hover-clr:#1D4ED8;
--post-btn-bg-clr: #3B82F6; 
--active-title: #929290;
--active-name-clr:#171725;
--create-post-modal-bg-clr:rgba(204, 204, 204, 0.60);  
--create-modal-close-clr: lighten (#9CA3AF,11%);
--profile-modal-name-clr:#111827;
--privacy-policy-terms-atag-clr:#60A5FA;
--button-font-clr:#EEF2FF;
}
 // ROOT END
// SCSS ROOT START 31
$body-bg-clr:var(--body-bg-clr);
$profile-active-overlay :var(--profile-active-overlay);
$black-clr:var(--black-clr);  
$nav-option-color:var(--nav-option-color);
$white-color: var(--white-color);  
$nav-bottom-border-clr: var(--nav-bottom-border-clr);
$nav-option-hover-clr:var(--nav-option-hover-clr); 
$side-border-clr:var(--side-border-clr);
$search-box-bgclr:var(--search-box-bgclr);
$search-icon-clr:var(--search-icon-clr);
$sidebar-heading-bg-clr:var(--sidebar-heading-bg-clr);  
$sidebar-span-clr:var(--sidebar-span-clr);
$sidebar-upcomming-bg-clr:var(--sidebar-upcomming-bg-clr);
$sidebar-upcomming-span-clr:var(--sidebar-upcomming-span-clr);
$sidebar-border-hover-clr:var(--sidebar-border-hover-clr);
$post-btn-bg-clr:var(--post-btn-bg-clr);  
$active-title:var(--active-title);
$active-name-clr:var(--active-name-clr);
$create-post-modal-bg-clr: var(--create-post-modal-bg-clr);  
$create-modal-close-clr:var(--create-modal-close-clr);
$profile-modal-name-clr: var(--profile-modal-name-clr);  
$privacy-policy-terms-atag-clr:var(--privacy-policy-terms-atag-clr);
$button-font-clr:var(--button-font-clr);
$category-icon-bg-clr:var(--category-icon-bg-clr);
// SCSS ROOT END