// FONT URL START
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap'); 
// FONT URL END 
// COMMON CSS START
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 2px solid red;
  }
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  h1,h2,h3,h4,h5,h6,ul,p,span,ol,a{
    margin: 0;
    padding: 0;
  }
  // COMMON CSS END
  
  // ROOT START
  @import "./_variable.scss";
  @import "./_messageVariable.scss";

  @import "./_variable_V2_S.scss";
  @import "./nVariable.scss";


  // ROOT END

body{
    background-color: $body-bg-clr;
    font-family:$primaryfont;
    color: $black-clr;
    position: relative;
}

// NAV START
@import "./_nav.scss";
// NAV END

// HOME LEFT SIDE BAR START
@import "./_home-leftside-bar.scss";
// HOME LEFT SIDE BAR END

// INDEX-HOME-PAGE START
@import "./_index-home-page.scss";
// INDEX-HOME-PAGE END

// MODAL START
@import "./_modal.scss";
// MODAL END

// PRIVACY CENTER START
@import "./_privacy-center.scss";
// PRIVACY CENTER END

// COMMUNITY GROUP CATEGORY START
@import "./_community-group-category.scss";
// COMMUNITY GROUP CATEGORY END

// CREATE NEW COMUNICATION START
@import "./_create-new-comunication.scss";
// CREATE NEW COMUNICATION END

// CREATE NAME START
@import "./_create-name.scss";
// CREATE NAME END

// EVENT NAME START
@import "./_eventName.scss";
// EVENT NAME END

// CATEGORY NAME START
@import "./categoryName.scss";
// CATEGORY NAME END

// EVENT COMMUNITY COUNTDOWN  START
@import "./_event-community-countdown.scss";
// EVENT COMMUNITY COUNTDOWN END

// CREATE EVENT  START
@import "./createEvent.scss";
// CREATE EVENT END

// INFO EVENT  START
@import "./_infoEvent.scss";
// INFO EVENT END

// EVENT NAME POST  START
@import "./_event-name-post.scss";
// EVENT NAME POST END

// EVENT Category POST  START
@import "./_eventCategory.scss";
// EVENT Category POST END

//profile page starts
@import "./profilepage";
//profile page ends

// Profile Page 2 Start
@import "./profilePage2.scss";
// Profile Page 2 End

// Message Section Start
@import "./msg";
// Message Section End

// Group Call Section Start
@import "./groupCall";
// Group Call Section End

// Single Call Section Start
@import "./singleCall";
// Single Call Section End

//Friend page starts
@import "./friendspage";
//Friend page ends

// Friend Request Accept Page Starts
@import "./RequestAccept";
// Friend Request Accept Page Ends

//Friend Request Dismissed page starts
@import "./requestDismissed";
//Friend Request Dismissed page ends

//Event Page started 
@import "./eventStart";
//Event Page ends

//Event Created Page starts
@import "./eventCreated";
//Event Created Page ends

//Event Summary page starts
@import "./eventSummary";
//Event Summary page ends

// JOIN EVENT  START
@import "./_joinEvent.scss";
// JOIN EVENT  END

// SCHEDUL EVENT  START
@import "./_scheduledEvent.scss";
// SCHEDUL EVENT  END

//  ******************************************* Responsive Start ******************************************* 
// MV ADD FRIEND START
@import "./_MV-addFriend.scss";
// MV ADD FRIEND END

// MV ADD FRIEND START
@import "./MV-chat.scss";
// MV ADD FRIEND END

// MV ADD FRIEND START
@import "./_MV-CreatePost.scss";
// MV ADD FRIEND END

// MV ADD FRIEND START
@import "./MV-frindList.scss";
// MV ADD FRIEND END

// RESPONSIVE S START
@import "./_responsive_S.scss";
// RESPONSIVE S END
//  ******************************************* Responsive End ******************************************* 


