// FONT URL START
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap'); 
// FONT URL END 

 // ROOT START
 @import "./_variable.scss";
 // ROOT END

 //Noorihan Root start
 @import "./nVariable";
 //Noorihan Root end

 // NAV START
 @import "./_nav.scss"; 
 // NAV END 

 //Profile page starts
 @import "./profilepage";
 //Profile page starts

 //Friend page starts
 @import "./friendspage";
 //Friend page ends

//  Friend Request Accept Page Starts
@import "./RequestAccept";
// Friend Request Accept Page Ends

//Friend Request Dismissed page starts
@import "./requestDismissed";

//Friend Request Dismissed page ends
 
// COMMON CSS START
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 2px solid red;
  }
 
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  h1,h2,h3,h4,h5,h6,ul,p,span,ol,a{
    margin: 0;
    padding: 0;
  }
 
  
  // COMMON CSS END
  
 

 body{
  font-family: $primaryfont;
 }