// FONT URL START
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
// FONT URL END 
  // ROOT START
  @import "./_variable.scss";
  @import "./messageVariable";
  // ROOT END

  // NAV START
  @import "./_nav.scss"; 
  // NAV END 

  // Profile Page 2 Start
  @import "./profilePage2";
  // Profile Page 2 End

  // Message Section Start
  @import "./msg";
  // Message Section End

// COMMON CSS START
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 2px solid red;
  }
  ul,ol{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  h1,h2,h3,h4,h5,h6,ul,p,span,ol,a{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: $primaryfont;
  }

  // COMMON CSS END
